@model DiseaseConfirmer.Web.ViewModels.Complaints.ComplaintInputModel
@using DiseaseConfirmer.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Look up the info of diff diseases.</p>
    <a asp-controller="Categories" asp-action="All" class="btn btn-block btn-primary">Categories</a>
    <p>Check people's Inquiries and get opinion about your problem.</p>
    <a asp-controller="Inquiries" asp-action="All" class="btn btn-block btn-primary">Inquiries</a>
    <p>See doctors.</p>
    <a asp-controller="Doctors" asp-action="DoctorsInCategory" class="btn btn-block btn-primary">Doctors</a>
</div>

<hr />
<div>
    <label>Tell us what we need to improve.</label>
    <form asp-controller="Complaints" asp-action="Add" method="post">
        <div>
            <label asp-for="Content"></label>
            <textarea name="Content" id="Content" class="form-control"></textarea>
        </div>
        <hr />
        <div>
            <input type="submit" class="btn btn-primary" value="Add complaint" />
        </div>
    </form>
</div>
