@model DiseaseConfirmer.Web.ViewModels.Complaints.ComplaintInputModel
@using DiseaseConfirmer.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@{string indexBackgroundImage = "https://res.cloudinary.com/dhyskq1at/image/upload/v1607953613/homeIndexBackground_rvv6kv.jpg"; }

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body id="backgroundImage">
    <div>
        <div class="text-center">
            <h1 class="display-4" style="font-size: 96px"><strong>Welcome to @GlobalConstants.SystemName!</strong></h1>
        </div>

        <p style="margin-top: 200px"></p>
        <hr />
        <div>
            <label style="font-size: 30px"><strong>Tell us what we need to improve.</strong></label>
            <form asp-controller="Complaints" asp-action="Add" method="post">
                <div>
                    <textarea asp-for="Content" id="Content" class="form-control"></textarea>
                </div>
                <hr />
                <div>
                    <input type="submit" class="btn btn-primary" value="Add complaint" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>

