@using DiseaseConfirmer.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Look up the info of diff diseases.</p>
    <a href="/Categories/All" class="btn btn-block btn-primary">Categories</a>
</div>
