<a asp-action="All" asp-controller="Users" asp-area="Administration" class="text-white btn btn-primary m-2">View Users</a>
<a asp-action="All" asp-controller="Categories" asp-area="Administration" class="text-white btn btn-primary m-2">Categories</a>
<a asp-action="All" asp-controller="Complaints" asp-area="Administration" class="text-white btn btn-primary m-2">Complaints</a>
