@model DiseaseConfirmer.Web.ViewModels.Categories.CategoryCreateInputModel
@using DiseaseConfirmer.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<form method="post" asp-action="Add">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>

    <div>
        <label asp-for="Name">Name:</label>
        <textarea asp-for="Name" class="form-control"></textarea>
    </div>

    <div>
        <label asp-for="Description">Description:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div>
        <p></p>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

</form>
