@using DiseaseConfirmer.Common

@model DiseaseConfirmer.Web.ViewModels.Categories.CategoriesViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@{ var name = this.User.Identity.Name;}

<div class="text-center">
    <h1 class="display-4">
        Welcome to @GlobalConstants.SystemName!
        @if (this.User.IsInRole(GlobalConstants.DoctorRoleName))
        {
            <a id="floatRight" asp-area="Doctors" asp-controller="Categories" asp-action="Add" class="btn btn-secondary btn-sm">Create Category</a>
        }

    </h1>

    @foreach (var category in Model.Categories)
    {
        <div class="card">
            <a id="categoryHeader" href="@category.Url" class="btn btn-block btn-primary">@category.Name</a>
            <p id="categoryBody">@category.ShortDescription</p>
        </div>

        <br />
    }

</div>
