@using DiseaseConfirmer.Common

@model DiseaseConfirmer.Web.ViewModels.Categories.CategoriesViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@{ var name = this.User.Identity.Name;}

<div class="text-center">
    <h1 class="display-4">
        Welcome to @GlobalConstants.SystemName!
        @if (this.User.IsInRole(GlobalConstants.DoctorRoleName))
        {
            <a asp-controller="Categories" asp-action="Add" class="btn btn-secondary btn-sm">Create Category</a>
        }

    </h1>

    @foreach (var category in Model.Categories)
    {
        <a href="@category.Url" class="btn btn-block btn-primary">@category.Name</a>
        <p style="text-align:left">@category.ShortDescription</p>
    }

</div>