#commentNav {
    background-color: lightskyblue;
    border-width: 5px;
}
#Replay {
    background-color: white;
    color: lightskyblue;
    border: none;
}
#userName {
    font-size: 26px;
}
#subComment {
    padding-left: 50px;
    padding-right: 0px;
}
#heading{
    text-align:center;
}
#date {
    text-align: right;
    font-weight: bold;
}
.card-header {
    background-color: cornflowerblue;
}
.card-footer{
    background-color:cornflowerblue;
}