#commentNav {
    background-color: lightskyblue;
    border-width: 5px;
}

#Replay {
    background-color: white;
    color: lightskyblue;
    border: none;
}

#userName {
    font-size: 26px;
}

#subComment {
    padding-left: 50px;
    padding-right: 0px;
}

#heading {
    text-align: center;
}

#date {
    text-align: right;
    font-weight: bold;
}

.card-header {
    background-color: cornflowerblue;
}

.card-footer {
    background-color: cornflowerblue;
}

#accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

#floatRight{
    float:right;
}

#floatLeft {
    float: left;
}

#inquiryBox {
    background-color: lightskyblue;
    color: black;
}

#inquiryHeader{
    color:black;
    font-size: 24px;
    font-weight:bold;
}

#categoryHeader {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

#categoryBody {
    font-size: 18px;
    text-align: left;
}

#inquiryLink{
    color:black;
}

.panel p {
    word-wrap: break-word;
}