@model DiseaseConfirmer.Web.ViewModels.Inquiries.InquiriesViewModel

@foreach (var inquiry in Model.Inqueries)
{
<h4 class="media-heading"><a asp-controller="Inquiries" asp-action="ById" asp-route-id="@inquiry.Id">@inquiry.Heading</a></h4>
    <p><a style="float: left">Symptoms: @inquiry.ShortSymptoms</a><a style="float: right"><i class="far fa-calendar-alt"></i> @inquiry.CreatedOn.ToString("g")</a><br /></p>
}