@using DiseaseConfirmer.Common
@model DiseaseConfirmer.Web.ViewModels.Inquiries.InquiriesViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Review Inquiries!</h1>

    @Html.Partial("_DisplayInquiriesPartial",Model)

</div>