@page
@using DiseaseConfirmer.Common;

@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <img src="@Model.ProfilePictureUrl" alt="Alternate Text" class="w-100" />
            <div class="file-field">
                <a class="btn-floating peach-gradient mt-0 float-left">
                    <i class="fas fa-paperclip" aria-hidden="true"></i>
                    <input asp-for="Input.ProfilePicture" type="file">
                </a>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            @if (this.User.IsInRole(GlobalConstants.DoctorRoleName))
            {
                <div class="form-group">
                    <label asp-for="Input.Workplace"></label>
                    <input asp-for="Input.Workplace" class="form-control" />
                    <span asp-validation-for="Input.Workplace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Degrees"></label>
                    <input asp-for="Input.Degrees" class="form-control" />
                    <span asp-validation-for="Input.Degrees" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Experience"></label>
                    <input asp-for="Input.Experience" class="form-control" />
                    <span asp-validation-for="Input.Experience" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Awards"></label>
                    <input asp-for="Input.Awards" class="form-control" />
                    <span asp-validation-for="Input.Awards" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.CategoryName"></label>
                    <input asp-for="Input.CategoryName" class="form-control" />
                    <span asp-validation-for="Input.CategoryName" class="text-danger"></span>
                </div>
            }
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}